In [1]:
import pandas as pd

In [9]:
tb1a = pd.read_csv('../patents_data/excel/table_1a.csv')
tb1b = pd.read_csv('../patents_data/excel/table_1b.csv')
tb3 = pd.read_csv('../patents_data/excel/table_3.csv')
#tb2b = pd.read_csv('../patents_data/excel/table_2b.csv')

In [29]:
tb3

,super_opeid,instnm,count,count_pq1,count_pq2,count_pq3,count_pq4,count_pq5,inventor,inventor_pq1,inventor_pq2,inventor_pq3,inventor_pq4,inventor_pq5,top5cit,total_patents,total_cites
0,1,University Of Hawaii And Hawaii Community Coll...,27002,3205,4527,5628,6957,6685,0.001037,0.000312,0.000663,0.000533,0.000719,0.002393,0.000069,22,55
1,4,Coast Community College District,24340,4183,3829,4311,5066,6951,0.001643,0.001195,0.001045,0.001160,0.001382,0.002733,0.000120,76,333
2,13,Kern & North Orange County Community College D...,18765,2521,3091,3564,4410,5179,0.001119,0.001190,0.000000,0.001403,0.000907,0.001738,0.000005,28,22
3,16,San Mateo County Community College District,10936,1253,1658,2187,2513,3325,0.001646,0.002394,0.003619,0.000457,0.001194,0.001504,0.000106,35,2474
4,19,Foothill-Deanza Community College District,16619,2245,2287,2798,3206,6083,0.003189,0.003118,0.000437,0.003574,0.001871,0.004767,0.000183,137,1497
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418,20662,"New School, The",2691,273,318,315,428,1357,0.005946,0.000000,0.000000,0.000000,0.002336,0.011054,0.000818,79,124
419,20771,Milwaukee Institute Of Art & Design,640,60,67,130,170,213,0.020313,0.000000,0.000000,0.007692,0.017647,0.042253,0.006390,124,358
420,20789,Art Institute Of Colorado,2433,306,455,504,505,663,0.005343,0.009804,0.000000,0.000000,0.005941,0.010558,0.000828,29,62
421,21415,Savannah College Of Art And Design,4675,253,448,642,1004,2328,0.009412,0.015810,0.002232,0.009346,0.008964,0.010309,0.002534,160,417
422,22913,Art Institute Of Seattle,2616,299,385,549,742,641,0.004205,0.000000,0.005195,0.005464,0.002695,0.006240,0.000758,39,41

In [7]:
tb1b.head()

,par_state,par_stateabbrv,kid_count,inventor,top5cit,inventor_cat_1,inventor_cat_2,inventor_cat_3,inventor_cat_4,inventor_cat_5,...,inventor_cat_5_pq_5,inventor_cat_6_pq_5,inventor_cat_7_pq_5,top5cit_cat_1_pq_5,top5cit_cat_2_pq_5,top5cit_cat_3_pq_5,top5cit_cat_4_pq_5,top5cit_cat_5_pq_5,top5cit_cat_6_pq_5,top5cit_cat_7_pq_5
0,Alaska,AK,42265,0.001798,0.000047,0.000095,0.000639,0.000237,0.000213,0.000213,...,0.000408,0.000652,0.000082,0.000000,0.000082,0.000000,0.000000,0.000000,0.000000,0.000082
1,Alabama,AL,273721,0.000796,0.000033,0.000088,0.000285,0.000099,0.000084,0.000066,...,0.000156,0.000363,0.000208,0.000000,0.000026,0.000000,0.000026,0.000000,0.000026,0.000052
2,Arkansas,AR,162805,0.000792,0.000043,0.000043,0.000184,0.000129,0.000141,0.000080,...,0.000057,0.000284,0.000114,0.000000,0.000000,0.000000,0.000000,0.000000,0.000057,0.000000
3,Arizona,AZ,269197,0.002013,0.000089,0.000130,0.000728,0.000357,0.000216,0.000212,...,0.000486,0.000602,0.000214,0.000000,0.000039,0.000000,0.000058,0.000000,0.000039,0.000039
4,California,CA,1670537,0.002471,0.000112,0.000160,0.000919,0.000420,0.000302,0.000188,...,0.000457,0.000693,0.000348,0.000013,0.000096,0.000041,0.000036,0.000013,0.000016,0.000047